<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="input-field col s3">
            <input id="search" type="text" class="validate" ng-model="search">
            <label for="search">Search</label>
        </div>
        <div class="col s2">
            <a class="waves-effect waves-light red btn-large" ng-click="openWalkin()"><i class="material-icons left">add</i>Walk In</a>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <table class="highlight">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in registerData | fuzzyBy: 'fname': search | limitTo:10" ng-click="getEntryInfo(x.email)">
                        <td>{{x.fname}}</td>
                        <td>{{x.lname}}</td>
                        <td>{{x.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="userView-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="container">
                <h3>{{userView.fname}} {{userView.lname}}</h3>
                <h5>Checkin status: {{userView.confirmed_presence > 0 ? 'Checked in' : "Not checked in"}}</h5>
                <h5>email: {{userView.email}}</h5>
                <h5>gender: {{userView.gender}}</h5>
                <h5>shirt size: {{userView.shirt_size}}</h5>
                <h5>dietary restrictions: {{userView.diet}}</h5>
            </div>
        </div>
        <div class="modal-footer">
            <a href="" class="modal-action modal-close waves-effect waves-green btn-flat black white-text" ng-click="checkinUser(userView.email)">Checkin</a>
            <a href="" class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Cancel</a>
        </div>
    </div>

    <div id="walkin-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Add walkin</h4>
            <div class="container">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="walkin_first_name" type="text" class="validate" ng-model="walkin.fname">
                        <label for="walkin_first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="walkin_last_name" type="text" class="validate" ng-model="walkin.lname">
                        <label for="walkin_last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="walkin_email" type="email" class="validate" ng-model="walkin.email">
                        <label for="walkin_email">Email</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="" class="modal-action waves-effect waves-light btn-flat black white-text" ng-click="walkinSubmit()">Add</a>
            <a href="" class="modal-action modal-close waves-effect waves-light btn-flat red white-text">Cancel</a>
        </div>
    </div>

</div>
